<%= render 'header' %>

<div class="container">
  <div>
    <div class="row new-form">
      <div class="col-lg-6 left-bg-list">
      </div>
      <div class="col-lg-6">
        <%= render 'form', list: @list%>
      </div>
    </div>
  </div>
</div>
